---
- name: Validate Calculator
  hosts: localhost
  become: yes
  tasks:

    - name: Run calculator container with sample input
      shell: |
        docker exec calculator /app/build/calculator <<< "2 + 3"
      register: calc_output
      ignore_errors: yes

    - name: Print output
      debug:
        msg: "{{ calc_output.stdout }}"
